.profile-container {
    max-width: 300px;
    text-align: center;
    padding: 10px 0;
    /* margin: 10px; */
    /* border-radius: 7px; */
    border-left: 1px solid rgb(167, 167, 167);
    border-right: 1px solid rgb(167, 167, 167);
    display: none;
    /* box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 7px; */
}

.profile-container.right-sidebar {
    display: block;
}
.profile-container.force-display, .profile-container.right-sidebar.profile-container.force-display{
    display: block !important;
    max-width: 500px !important;
}
.profile-img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 6px;
}

.profile-container .username {
    margin: 0;
    padding: 0;
}

.profile-bio {
    color: rgb(81, 81, 81);
    margin: 4px;
}

.profile-container .username {
    padding: 0;
    margin: 0;
}

.update-profile-bio-btn {
    padding: 10px 20px;
    background: #1877f2;
    color: white;
    width: 50% !important;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-update-details {
    width: 50%;
}

.profile-container hr {
    margin: 0;
}

.profile-container h3 {
    margin: 10px;
}

.profile-details {
    text-align: start;
    padding: 0 20px;
}

.profile-detail {
    color: rgb(81, 81, 81);
    margin: 10px 0;
}

.profile-detail:nth-child(4) {
    text-transform: capitalize;
}

.profile-detail:nth-child(4) {
    text-transform: capitalize;
}

.profile-container .post-count {
    color: #1877f2;
    text-decoration: underline;
    cursor: pointer;
}

.profile-container h4 {
    color: rgb(81, 81, 81);
}

.logout-btn {
    padding: 10px 20px;
    background: #ffffff;
    font-weight: bold;
    color: rgb(255, 0, 0);
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
    outline: none;
}

@media (max-width: 500px) {
    .profile-container {
        max-width: 100vw !important;
        flex-grow: 1;
    }
}

@media (max-width: 1000px) {
    .profile-container.right-sidebar {
        display: none;
    }

    .profile-container {
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
}