.profile-container{
    max-width: 300px;
    text-align: center;
    padding: 20px 0;
    margin: 10px;
    border-radius: 7px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 7px;
}
.profile-img{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 10px;
}
.profile-bio{
    color: rgb(81, 81, 81);
}
.profile-container .username{
    padding: 0;
    margin: 0;
}
.update-profile-bio-btn{
    padding: 10px 20px;
    background: #1877f2;
    color: white;
    width: 50%;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
}
.btn-update-details{
    width: 50%;
}
hr{
    margin: 10px;
}
.profile-details{
    text-align: start;
    padding: 0 40px;
}
.profile-detail{
    color: rgb(81, 81, 81);
}
.profile-detail:nth-child(3){
    text-transform: capitalize;
}
.logout-btn{
    padding: 10px 20px;
    background: #ffffff;
    font-weight: bold;
    color: rgb(255, 0, 0);
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
    outline: none;
}
@media (max-width: 500px){
    .profile-container{
        max-width: 100% !important;
        /* display: none; */
    }
}