.post-list-container {
    border-radius: 5px;
    /* margin: 10px; */
    flex-grow: 1;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-container {
    /* border: 1px solid black; */
    background: rgb(255, 255, 255);
    /* max-width: 500px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 10px;
    height: fit-content;
    /* border: 1px solid #1877f2; */
    border-radius: 8px;
    padding-bottom: 10px;
}

.post-user-details {
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-user-details div {
    cursor: pointer !important;
}

.post-name-date .post-user-name {
    font-size: large;
    font-weight: bold;
    color: #1877f2;
}

.post-name-date .post-date {
    font-size: small;
    text-align: left;
    color: #4a4a4a;
}

.post-profile-img {
    width: 40px;
    /* border: 3px solid #1877f2; */
    border-radius: 50%;
    display: block;
    margin: 10px;
}
.post-container .delete-post-link{
    color: red;
}
.post-menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.post-menu div:not(.post-dropdown-content) {
    padding: 12px 20px;
    font-size: larger;
}

.post-caption {
    padding: 10px;
    text-align-last: left;
    background: rgb(244, 244, 244);
}

.post-container hr {
    margin: 0;
}

.blue-active {
    color: #1877f2 !important;
}

.like-count {
    color: #4a4a4a;
    position: relative;
    display: block;
    text-align: left;
    padding-left: 20%;
}

.user-interaction-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: medium;
    font-weight: bold;
}

.user-interaction-container div {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #323232;
}

.post-icons {
    font-size: x-large;
    padding: 0 10px;
}

.posts-failed {
    padding: 10px;
}

.menu-btn {}

.post-dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.post-dropdown {
    position: relative;
    display: inline-block;
}

.post-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    right: 0;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.post-dropdown-content a {
    color: black;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

.post-dropdown-content a:hover {
    background-color: #eee9e9;
}

.post-dropdown:hover .post-dropdown-content {
    display: block;
}

.post-dropdown:hover .post-dropbtn {
    background-color: rgb(237, 236, 236);
}

@media (max-width:500px) {
    /* .post-menu div {
        padding: 6px 10px;
        font-size: large;
    } */

    .post-container .dropdown .post-dropbtn {
        /* padding: 6px 10px; */
    }

    /* .post-container .dropdown-content{
        right: 0;
    } */
    .post-container .menu-btn {
        padding: 0 !important;
    }
}